<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>

<div style="text-align: center;">
    <form action="./app/app1">
        <button id="app1" style="width: 500px; height: 200px; font-size: 100px;">App1</button>
    </form>

    <form action="./app/app2">
        <button id="app2" style="width: 500px; height: 200px; font-size: 100px;">App2</button>
    </form>

    <form action="./app/app3">
        <button id="app3" style="width: 500px; height: 200px; font-size: 100px;">App3</button>
    </form>


</div>


</body>
</html>